@keyframes parpadeo {
  from { opacity: 0; }
}

@keyframes bote {
  from {
    transform: translateY(0px) scale(0.9,0.9);

  }
  to {
    transform: translateY(-1.2rem);
  }
}

.cursor{
  animation: parpadeo 0.7s infinite alternate;
}

.grande{
  font-size: 3rem;
}

.contenedor-principal {
  position: relative;
}

.flecha {
  position: absolute;
  bottom: 0.5rem;
  color: white;
  font-size: 2rem;
  animation: bote 1s infinite alternate;
  transition-timing-function: ease-in  ;
  
}

.contenido-pagina {
  margin-top: 2rem;
  min-height: 25rem;
}

.container-colores {
  min-height: 15rem;
  padding: 5rem;
}